.browseFSroot {
	color: white;
	width: 95%;
	margin: 0 auto 0 auto;
}

.browseFSheader {
	font-size: 18pt;
	margin-bottom: 10px;
}

.browseFStopControls {
	border-bottom: 2px solid #aaa;
	height: 40px;
}

.browseFSbreadcrumbs {
	display: inline-block;
}

.browseFSfileControls {
	display: inline-block;
	float: right;
}

.browseFSfolderControls {
	display: inline-block;
	float: right;
}

.browseFSbutton {
	display: inline-block;
	margin: 6px;
}
